.container{
    margin: 20px;
    padding: 20px;
    border: solid black 2px; 
    width: 400px;
}

.container img{
    padding: 15px;
    width: 200px;
    border-radius: 100%;
    border: solid purple 2px;
}
h1 { 
    color: darkblue;
}
h2{ 
    color: steelblue; 
}
h3{ 
    color: grey;
}